.heading {
	color: Green;
	text-align: center;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.Welcome {
	font-size: 50px;
}

.navigation_tab {

	display: inline-block;
	margin-left: auto;
}

.Resume {
	display: inline-block;
}

.Home {
	display: inline-block;
	margin-left: 30px
}

.Projects {
	display: inline-block;
}

.Notebooks {
	display: inline-block;
}

.Calendar {
	display: inline-block;
}

.logo_div
{
	display:flex;
	align-items:center;
	justify-content:center;

	
}

.Linkedin_logo {
	display: inline;
	width: 50;
	height: 50;
}

.Github_logo {
	display: inline;
	margin-left: 20px;
	width: 100;
	height: 50;
}

.Youtube_logo {
	display: inline;
	margin-right: 20px;
	width: 150;
	height: 100;
}

.background_img {

	background-image: url('src/Robot_img.jpg'), linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
	background-blend-mode: overlay;

}

.background_img_projects {

	background-image: url('src/Robotic-Automation.jpg'), linear-gradient(rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.75));
	background-blend-mode: overlay;

}

.outer_div {

	background-color: rgba(25, 135, 84, 0.8);
	width: 2000px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	border-radius: 1rem;
}

.my_image {
	margin-left: auto;
	margin-right:auto;
	display:block;
	width: 20vw;
	height:35vh;
	border-radius: 8rem;
}

.card-text
{
	
}
.card-body>.card-text:hover
{
	
}

.main_nav {
	background-color: rgba(230, 230, 230, 0.7);
}

.Hover-button>.text-black:hover {
	background-color: rgba(0, 0, 0, 0.9);
}

.Projects-div {
	background-color: rgba(25, 135, 84, 1);
	margin-left: auto;
	margin-right: auto;
	border-radius: 1rem;
	width:80%;
}

.self_balancing_image_outside {

	width: 379px;
	height: 324px;
}

.wwebcam_rover_image_outside {

	width: 383px;
	height: 318px;
}

.self_balance_background {}

.resume-inside {
	
	display:block;
	margin-right: auto;
	margin-left:auto;
	margin:30px;
}

.self_balance_heading {
	text-align: center;
}

.self_balancing_div {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;

}

.webcam_rover_heading {

	text-align: center;
}

.webcam_rover_div {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;

}

.drawing_bot_image_outside {}

.drawing_bot_heading {
	text-align: center;
}

.drawing_bot_div {
	margin-left: 10px;
	display: inline-block;
}

.Notebooks-div {
	width: 100%;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
    max-width: 100%;
}

.notebook-nav
{

}
.nav-bar-notebooks {}

.nav_bar_top {}

.notebooks-content 
{
 width:80%;	
}
.sidebar-container{
	display: flex;
	flex-direction: column;
	margin-top:23px;
	width:20%
	
}

.notebooks-content > div > div > h1 
{	
	font-size:3.5rem;
	color:#FF5722;
	text-align:center;
}
.notebooks-content > div > div > h4 
{
	color:gold;
}

.heading_size1
{
  border-bottom: 3px solid gold;
  margin-bottom: 1em;


}	
.tab-content>.active {
   
}

.equations
{
font-size:170%;
}

.card-image:hover
{
opacity:0.5;
}


.myStyleTest
{
display:block;
margin-left:auto;
margin-right:auto;
width: 90% !important;		
}


